body {
    box-sizing: border-box;

    margin: 0;
    background-color: wheat;
}


.container {
    display: flex;

}

#tiles {
    height: 80vh;
    background-color: gray;
    justify-content: space-around;
    align-content: space-around;
    padding: 1%;
    flex-wrap: wrap;
}


.tile {
    background-color: white;
    flex-basis: auto;
    height: 23%;
    /* dobar look ovisi o paddingu contairera */
    width: 23%;
    text-align: center;
    /*
    line-height: ; /// ??????????
    */
    order: 2;
}

.selected {
    background-color: burlywood;
}

.tile:hover {
    opacity: 0.5;
    cursor: pointer;
}

.solved {}

.unsolved {
    border-radius: 10%;
    outline: auto;
}

.buttons {
    display: flex;
    justify-content: center;

}

button {
    margin: 20px;
}