* {
    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: wheat;
}


.container {
    display: flex;

}

#tiles {

    /* position: relative; */

    height: 80vh;
    background-color: gray;
    justify-content: space-around;
    align-content: space-around;
    padding: 1%;
    flex-wrap: wrap;
}


.tile {
    background-color: white;
    flex-basis: auto;
    height: 23%;
    /* dobar look ovisi o paddingu contairera */
    width: 23%;

    order: 2;

    border-radius: 15px;
}


.selected {
    background-color: burlywood;
}

.tile:hover {
    opacity: 0.5;
    cursor: pointer;
}


.solved {
    order: 1;
    /* flex-grow: 4; */
    flex-basis: 98%; 
}