* {
   box-sizing: border-box;

}

body {

   margin: 0;
   background-color: white;
   display: flex;
   flex-direction: column;


}

p {
   pointer-events: none;
   font-family: Arial;
   margin: 0;
}

button[type=submit] {
   display: block;
   width: fit-content;
   height: fit-content;
   opacity: 1;
}