.buttons {
   display: flex;
   justify-content: center;

}

.button-unclickable {
   border: 1px solid #7F7F7F !important;
   color: #7F7F7F !important;
   background-color: white !important;
}

button {
   margin: 24px;
   margin-top: 10px;
   margin-bottom: 0;
   padding: 12px;
   border: 1px solid black;
   border-radius: 32px;
   line-height: 16px;
   font-size: 16px;
   cursor: pointer;
}

button>p {
   font-weight: 300;
   margin: 5px;
}


.black-button {

   color: white;
   background-color: black;
}

.white-button {
   color: black;
   background-color: white;


}