* {
   box-sizing: border-box;

}

body {

   margin: 0;
   background-color: white;
   display: flex;
   flex-direction: column;


}

p {
   pointer-events: none;
   font-family: Arial;
   margin: 0;
}

.textbox {
   margin-top: 60px;
   padding: 20px;
   text-align: center;
   width: 100%;
}