.menu-button {
   position: absolute;
   top: 0;
   left: 0;
   height: 40px;
   width: 40px;
   margin: 10px;
   background-color: gray;
}

.menu-container {
   display: none
}


.menu-option {
   padding: 20px;
   width: 100%;
}