* {
    box-sizing: border-box;

}

body {

    margin: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;


}

p {
    pointer-events: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
    user-select: none;
    margin: 5px;
}


.term-text {
    width: 80%;
    font-size: 20px;
    font-weight: 700;
}


.container {

    margin: auto;
    margin-top: 20px;
    display: flex;
    min-height: 80vh;
    height: fit-content;
    width: 80vh;

}

#tiles {

    /* position: relative; */
    background-color: #fff;
    justify-content: space-around;
    align-content: space-around;
    padding: 1%;
    flex-direction: row;
    flex-wrap: wrap
}


.tile {

    position: relative;
    flex-basis: auto;
    height: 23%;
    /* dobar look ovisi o paddingu contairera */
    width: 23%;
    text-align: center;
    /*
    line-height: ; /// ??????????
    */
    order: 2;

    pointer-events: none;


}

.tile-innerdiv {
    background-color: #EFEFE6;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    transition: background-color 300ms;

}

.selected {
    background-color: #5A594E;
    color: #FFFFFF;

}


.tile-innerdiv:not(.selected):hover {
    background-color: #D8D3AD;
    cursor: pointer;
}


.solved {
    order: 1;
    /* flex-grow: 4; */
    flex-basis: 98%;
    animation: popin 400ms;
}

@keyframes popin {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}




.invis {
    /* umjesto opacity da se ne transfera na djecu */
    background-color: rgba(0, 0, 0, 0);
}

.one-away {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 40px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.one-away.show {
    animation-name: showOneAway;
    animation-duration: 5s;
}

@keyframes showOneAway {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}